# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tokit
DB_USERNAME=tokit
DB_PASSWORD=tokit

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=tokit
RABBITMQ_PASSWORD=tokit

# Server
PORT=8080
